body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-frame {
    border: 6px solid #ccc; /* Moldura mais fina */
    padding: 5px;
    margin-right: 20px; /* Espaço entre a foto e o contador */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 150px; /* Limita a largura total da moldura */
    height: auto;
}

.photo {
    width: 100%; /* A imagem ocupará 100% da largura da moldura */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    border-radius: 5px;
}

.labirinto-button {
    margin-top: 20px;
}

.labirinto-button button {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.labirinto-button button:hover {
    background-color: #FF4500;
}

.container-labirinto {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin-top: 50px;
}

.labirinto {
    margin-top: 20px;
}

.labirinto p {
    font-size: 18px;
    margin: 20px 0;
}

.labirinto button {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.labirinto button:hover {
    background-color: #FF4500;
}

#daysCounter {
    font-size: 40px;
    font-weight: bold;
    color: #FF6347;
}
