body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-frame {
    border: 8px solid #ccc; /* Moldura mais fina */
    padding: 10px;
    margin-right: 20px; /* Espaço entre a foto e o contador */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.photo {
    max-width: 120px; /* Limita a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    border-radius: 5px;
}

#daysCounter {
    font-size: 40px;
    font-weight: bold;
    color: #FF6347;
}
